.navbar {
  background-color: #000;
  border-bottom: 2px solid #fff;
margin-bottom: 100px;
}


.nav-link {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar .navbar-brand .navbar-text {
  font-size: 5rem; 
  line-height: 100px; 
  margin-left: 10px;
  color: #fff;
}

.navbar .nav-link {
  color: #fff; 
  margin-right: 20px;
}

.navbar .navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar .button-logout {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.navbar .button-logout:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 992px) {
  .navbar .navbar-brand .navbar-text {
    font-size: 3rem; /* Smaller font size */
    line-height: 80px; /* Adjust line height for smaller screens */
  }

  .navbar .nav-link {
    font-size: 1rem; /* Smaller font size for nav links */
  }
}

@media (max-width: 768px) {
  .navbar .navbar-brand .navbar-text {
    font-size: 2rem; /* Even smaller font size */
    line-height: 60px; /* Adjust line height for very small screens */
  }

  .navbar .nav-link {
    padding: 5px 10px; /* Reduce padding for nav links */
  }

  .navbar .button-logout {
    padding: 5px 10px; /* Reduce padding for logout button */
  }
}

@media (max-width: 576px) {
  .navbar {
    margin-bottom: 50px; /* Less margin on the very small screens */
  }

  .navbar .navbar-brand {
    flex-direction: column; /* Stack logo and brand text on top of each other */
    align-items: flex-start; /* Align items to the start */
  }

  .navbar .navbar-brand .navbar-text {
    margin-left: 0; /* Remove left margin */
    margin-top: 5px; /* Add some margin at the top */
  }

  .navbar .navbar-collapse {
    text-align: center; /* Center the collapsed menu items */
  }
}