.gallery-header {
  margin-top: 60px;
}

.gallery-header h1 {
  font-size: 28px;
}

.gallery-filter-row {
  margin-bottom: 15px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 120px;
}

.photo-frame {
  border: 5px solid white;
  max-height: 300px;
  width: auto;
  margin: 0 auto 20px auto;
}

.photo-details {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.centered-modal-title {
  text-align: center;
}