.gallery-container {
  padding-bottom: 50px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-container {
  cursor: pointer; 
  margin: 80px; 
}

.photo-frame {
  border: 5px solid white;
}

.photo-frame:hover {
  transform: scale(1.5);
}

.carousel-item-padding-40-px {
  padding: 0; 
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body img {
  max-height: 80vh; 
  width: 100%; 
  height: auto;
  object-fit: contain;
}

.modal-dialog {
  max-width: 90%;
  margin: auto;
}

.modal-content {
  overflow: auto;
}

@media (max-width: 1024px) {
  .photo-frame {
    max-height: 250px;
  }
}

@media (max-width: 464px) {
  .photo-frame {
    max-height: 200px;
  }
}
